body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #016aa9;
	overflow: hidden;
}

.STYLE1 {
	color: #000000;
	font-size: 12px;
	width: 50px;
	ss
}

.input_text {
	width: 95px;
	height: 17px;
	background-color: #292929;
	border: solid 1px #7dbad7;
	font-size: 12px;
	color: #6cd0ff
}